/* COLORS */
:root {
  --blue: #009fe3;
  --blue-hover: #0587be;
  --blue-fade: #66c5ee;
  --blue-fade-hover: #56b4dc;

  --gray: #808285;
  --gray-dark: #6d6e71;
  --gray-light: #f2f2f2;

  --orange: #f59d00;
  --red: #ee4545;
}

/* DEFAULTS */
html {
  /* 1rem == 10px */
  font-size: 62.5%;
}

body {
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-md);
}

/* PAGE */
/* .es-page {
  display: flex;
  flex-direction: column;
} */

.es-page__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.es-uppercase {
  text-transform: uppercase;
}

.es-page__header {
  padding-top: 30rem;
  background-image: url('../images/page-header.jpg');
}

/* BUTTONS */
.es-btn {
  padding: 1.4rem 1.4rem 0.9rem;
  border: none;
  border-radius: 2rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--font-trumpsoftpro-bold);
  letter-spacing: var(--letter-spacing);
  box-sizing: border-box;
}
.es-btn:focus {
  outline: none;
}
.es-btn:hover {
  background-color: var(--blue-hover);
}
.es-btn,
.es-btn:active {
  background-color: var(--blue);
}

.es-btn_fade:hover {
  background-color: var(--blue-fade-hover);
}
.es-btn_fade,
.es-btn_fade:active {
  background-color: var(--blue-fade);
}

.es-btn_investors-block1 {
  width: 40rem;
  margin-bottom: 6rem;
}

.es-disabled {
  opacity: 0.8;
  pointer-events: none;
}

/* INPUTS */
.es-input {
  padding: 0.5rem 1rem;
  font-size: var(--font-md);
  font-family: var(--font-unineue-regular);
  border-color: var(--gray);
  border-style: solid;
  border-width: 1px;
  width: 100%;
  max-width: 58rem;
  box-sizing: border-box;
}
.es-input:focus {
  outline: none;
}

.es-input_blue {
  color: white;
  background-color: var(--blue-fade);
  border-color: var(--blue-fade);
  border-image: none;
  border-style: solid;
  font-size: 19px;
}
.es-input_error {
  border-color: var(--red);
}

/* INPUT BLOCK */
.es-input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.7rem;
}

.es-btn_short,
.es-input-block_short {
  display: block;
  width: 28rem;
}

.es-input-block__title {
  margin-bottom: 0.5rem;
  font-family: var(--font-unineue-regular);
  font-size: 2.2rem;
  color: var(--gray);
  white-space: nowrap;
}

/* HEADERS */
.es-header {
  padding-bottom: 1rem;
  color: white;
  text-transform: uppercase;
  font-family: var(--font-trumpsoftpro-bold);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-xlg);
}
.es-header_blue {
  color: var(--blue);
}

.es-header__letter {
  color: var(--blue);
}

.es-header__subtitle {
  color: white;
  font-family: var(--font-unineue-regular);
  font-size: var(--font-md);
  margin-top: -2.2rem;
  margin-bottom: 2.2rem;
}

/* STATS TILE */
.es-stats-tile {
  width: 12rem;
  flex: 1 1 0;
  margin: 0 3rem 4rem;
}

.es-stats-tile__ico {
  display: block;
  margin: auto;
}

.es-stats-tile__value {
  height: 5.8rem;
  color: white;
  font-size: 4rem;
  font-family: var(--font-trumpsoftpro-bold);
  letter-spacing: var(--letter-spacing);
  text-align: center;
}

.es-stats-tile__subtitle,
.es-stats-tile__value-letter {
  color: var(--blue);
}

.es-stats-tile__subtitle {
  font-family: var(--font-unineue-bold);
  font-size: 2.2rem;
  text-align: center;
  margin: -1.2rem 0 1rem;
  line-height: 1;
}

.es-stats-tile__text {
  color: white;
  text-align: center;
  font-family: var(--font-unineue-regular);
  font-size: var(--font-sm);
  line-height: 1.2;
}

.es-stats-tile__container {
  display: flex;
  flex-wrap: wrap;
}

/* INVESTORS TILE */
.es-investors-tile {
  display: flex;
  margin: 2rem 0;
}

.es-investors-tile__img > img {
  object-fit: cover;
}

.es-investors-tile__content {
  margin-top: 1.6rem;
  padding-left: 1.4rem;
}

.es-investors-tile__title {
  text-transform: uppercase;
  color: var(--blue);
  font-family: var(--font-unineue-bold);
  font-size: var(--font-sm);
}

.es-investors-tile__text {
  text-transform: lowercase;
  color: white;
  font-family: var(--font-unineue-regular);
  font-size: var(--font-xsm);
}

/* HEADER */
.es-nav {
  position: fixed;
  z-index: 1040;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.es-nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 2rem 2.4rem;
}

.es-nav__item {
  display: flex;
  list-style: none;
  color: white;
  margin: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--font-trumpsoftpro-bold);
  letter-spacing: var(--letter-spacing);
}
.es-nav__item:first-child {
  margin-left: 0;
}
.es-nav__item:last-child {
  margin-right: 0;
}
.es-nav__item_active {
  color: var(--blue);
  cursor: default;
}

.es-nav__link {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
  flex-grow: 1;
}
.es-nav__item:not(.es-nav__item_active):hover > .es-nav__link {
  opacity: 0.6;
}

.es-nav__menu {
  display: none;
  cursor: pointer;
}

.es-nav__menu-ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0 2rem;
  display: none;
}
.es-nav__menu-ul_show {
  display: block;
}

.es-nav__menu-ul > .es-nav__item {
  margin: 2rem 0;
}

.es-nav__menu > img {
  height: 4rem;
}

/* CALLOUT */
.es-callout {
  position: relative;
  color: var(--orange);
  padding: 0.8rem 0.8rem 0.8rem 2.4rem;
  font-family: var(--font-unineue-bold);
  font-size: var(--font-sm);
}
.es-callout::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  box-shadow: 0px 0 2px 2px var(--orange);
  background-color: var(--orange);
}
.es-callout__white {
  width: 60rem;
  color: white;
}
.es-callout_stocks {
  font-size: 1.8rem;
  flex: 4 1 0;
  margin-left: 3rem;
}
.es-callout__ul {
  margin-left: 2rem;
}

/* TABS */
.es-tabs__menu-container {
  background-color: var(--gray-light);
}

.es-tabs__menu {
  display: flex;
  justify-content: space-between;
}

.es-ivestors-block3 .es-tabs__menu {
  justify-content: flex-start;
}

.es-ivestors-block3 .es-tabs__menu .es-tabs__item {
  margin: 0 4rem 0 0;
}

.es-tabs__item {
  display: flex;
  list-style: none;
  color: var(--gray);
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--font-trumpsoftpro-bold);
  letter-spacing: var(--letter-spacing);
}

.es-tabs__item:not(.es-tabs__item_active):hover {
  color: var(--blue-fade);
}
.es-tabs__item_active {
  color: var(--blue);
  cursor: default;
}

.es-tabs__content {
  padding: 4rem 2rem;
}
.es-tabs__content_white {
  background-color: white;
}
.es-tabs__content_no-padding {
  padding: 0;
}

.es-tabs__pane {
  display: none;
  width: 100%;
}
.es-tabs__pane_active {
  display: block;
}

.es-tabs__text {
  font-size: var(--font-md);
  font-family: var(--font-unineue-regular);
  color: var(--gray-dark);
}
.es-tabs__text_bold {
  font-family: var(--font-unineue-bold);
}

.es-tabs__ul {
  margin-left: 2.4rem;
  margin-bottom: 2rem;
}

/* INVESTORS BLOCK */
.es-calc__content,
.es-ivestors-block__content {
  padding: 6rem 2rem;
}

.es-ivestors-block1,
.es-ivestors-block3,
.es-ivestors-block5 {
  background-position: center;
  background-size: cover;
}

/* INVESTORS BLOCK 1 */
.es-ivestors-block1 {
  height: 92rem;
  background-image: url('../images/fon1.jpg');
}

.es-ivestors-block1__content {
  padding: 20rem 10rem;
}

.es-ivestors-block1__title {
  color: white;
  font-size: var(--font-lg);
  font-family: var(--font-unineue-bold);
  margin-bottom: 2rem;
}

.es-ivestors-block1__text {
  max-width: 48rem;
  margin-bottom: 3rem;
  color: var(--blue);
  font-family: var(--font-unineue-regular);
}

.es-ivestors-block1__text + .es-ivestors-block1__text {
  margin-top: 3rem;
}

.es-ivestors-block1__text a {
  text-decoration: none;
  color: var(--blue);
}

.es-ivestors-block1__text a:hover {
  color: var(--blue-hover);
}

/* INVESTORS BLOCK 2 */
.es-ivestors-block2 {
  background-color: white;
}

/* CALC */
.es-calc__content {
  display: flex;
  flex-direction: column;
}

.es-calc__container {
  display: flex;
  margin-top: 1rem;
  /* z-index: 1; */
}
.es-calc__container > div {
  /* flex: 1 1 0; */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.es-calc__text {
  margin-bottom: 2rem;
  font-family: var(--font-unineue-regular);
}

.es-calc__subtitle {
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--blue);
  font-family: var(--font-unineue-bold);
}

.es-calc__btns > .es-btn {
  margin-top: 4rem;
}
.es-calc__btns > .es-btn:first-child {
  margin-top: 2rem;
}

.es-calc__btn {
  display: block;
  margin-left: auto;
}

.es-calc__tabs-block {
  display: flex;
  margin: 0 -2rem;
}

.es-calc__tabs-block > div {
  margin: 0 2rem;
}

.es-calc__result {
  margin-top: 4rem;
}

/* INVESTORS BLOCK 3 */
.es-ivestors-block3,
.es-ivestors-block5 {
  background-image: url('../images/fon2.jpg');
}

.es-ivestors-block__container {
  display: flex;
  margin: 0 -2rem;
  width: 100%;
}
.es-ivestors-block__container > div {
  flex: 1 1 0;
  margin: 0 2rem;
}

.es-ivestors-block3__tabs {
  display: flex;
}

.es-ivestors-block__middle {
  padding-bottom: 2rem;
}

.es-ivestors-block3__number {
  color: white;
  font-size: 10rem;
  font-family: var(--font-unineue-light);
  line-height: 1;
}

.es-ivestors-block3__title,
.es-ivestors-block3__subtitle {
  text-transform: uppercase;
  font-family: var(--font-unineue-regular);
}

.es-ivestors-block3__title {
  color: var(--blue);
  font-size: var(--font-lg);
}

.es-ivestors-block3__subtitle {
  color: white;
  font-size: 1.8rem;
}

.es-ivestors-block3__text {
  text-transform: lowercase;
  color: var(--blue);
  font-size: 1.8rem;
  font-family: var(--font-unineue-regular);
}
.es-ivestors-block3__text_orange {
  color: var(--orange);
}

.es-ivestors__callout {
  margin: 4rem 0 0 4rem;
}

/* INVESTORS BLOCK 4 */
.es-ivestors-block4__text {
  color: var(--gray-dark);
  margin-bottom: 2rem;
  word-break: break-word;
}

.es-ivestors-block4__title {
  font-family: var(--font-unineue-regular);
}

.es-ivestors-block4__subtitle {
  font-family: var(--font-unineue-bold);
}

/* LINK */
.es-link {
  color: inherit;
  text-decoration: none;
}
.es-link:hover {
  color: var(--blue);
}

.es-link-blue {
  color: var(--blue);
  text-decoration: none;
}
.es-link-blue:hover {
  text-decoration: underline;
}

/* POPUP */
.es-popup {
  position: fixed;
  left: -200vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1030;
  opacity: 0;
  transition: opacity 0.4s;
  will-change: opacity;
}
.es-popup_show {
  left: 0;
  opacity: 1;
}

.es-popup::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
}

.es-popup__content {
  position: relative;
  margin-top: 9rem;
  overflow-y: auto;
  height: calc(100% - 16rem);
  padding: 2rem;
}

.es-popup__close {
  position: absolute;
  right: 0;
  height: 6rem;
  width: 6rem;
  padding: 0;
  border: none;
  background: no-repeat;
  color: white;
  font-size: 6rem;
  cursor: pointer;
}
.es-popup__close:focus {
  outline: none;
}

.es-popup__inputs {
  display: flex;
  margin: 8rem -2rem 0;
}

.es-popup__inputs > div {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.es-popup__input {
  flex-grow: 1;
  padding: 0.8rem 0.5rem;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
  margin: 2rem 0;
  font-size: 2.4rem;
  color: var(--blue);
  z-index: 1;
  transition: border 0.3s;
}
.es-popup__input:focus {
  outline: none;
}

.es-popup__input_error {
  border-color: var(--red);
}

.es-popup__input-container {
  position: relative;
  display: flex;
}

.es-popup__input-label {
  position: absolute;
  left: 0.5rem;
  color: var(--gray);
  font-family: var(--font-unineue-regular);
  transition: all 0.4s;
}

.es-popup__input-message {
  color: white;
  font-family: var(--font-unineue-regular);
  font-size: var(--font-sm);
  position: absolute;
  top: 6.5rem;
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
}
.es-popup__input-message_show {
  display: block;
  opacity: 1;
}
.es-popup__input-message_error {
  color: var(--red);
}

textarea.es-popup__input {
  height: 21.5rem;
  resize: none;
}

textarea[value=''] ~ .es-popup__input-label,
input[value=''] ~ .es-popup__input-label {
  top: 2.5rem;
  font-size: var(--font-md);
}

.es-popup__input-label,
.es-popup__input:focus ~ .es-popup__input-label {
  top: -0.5rem;
  font-size: 2rem;
}

.es-popup__checkbox__container {
  margin-top: 4rem;
  max-width: 57rem;
}

.es-popup__checkbox {
  position: relative;
  display: flex;
}

.es-popup__checkbox-input {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}

.es-popup__checkbox-btn,
.es-popup__checkbox-input {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  margin: 0.3rem 2rem 0 0;
  padding: 0;
}

.es-popup__checkbox-btn {
  position: relative;
  background: none;
  border: 0.3rem solid white;
  transition: border 0.3s;
}

.es-popup__checkbox-input_error ~ .es-popup__checkbox-btn {
  border-color: var(--red);
}

.es-popup__checkbox-img {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: none;
}
.es-popup__checkbox-input:checked
  ~ .es-popup__checkbox-btn
  > .es-popup__checkbox-img {
  display: block;
}

.es-popup__checkbox-label {
  color: white;
  font-size: 1.8rem;
  font-family: var(--font-unineue-regular);
}

.es-popup__submit-btn {
  margin-top: 6rem;
  width: 28rem;
}

.es-popup__send-btn-block {
  display: flex;
  align-items: flex-end;
}

.es-popup__message {
  color: var(--blue);
  line-height: 47px;
  margin-left: 4rem;
  font-family: var(--font-unineue-regular);
}
.es-popup__message_error {
  color: var(--red);
}

/* FILE */
.es-file {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.es-file:last-child {
  margin-bottom: 0;
}

.es-file__img {
  width: 6rem;
  margin-right: 2rem;
}

.es-file__text {
  display: flex;
  flex-direction: column;
}

.es-file__title {
  font-family: var(--font-unineue-regular);
}

.es-file__link {
  font-family: var(--font-unineue-bold);
}

/* CONTACTS */
.es-contacts__content {
  padding: 2rem;
}

.es-contacts__title {
  text-transform: uppercase;
  color: var(--blue);
  font-family: var(--font-unineue-bold);
  margin-bottom: 2rem;
}

.es-contacts__subtitle {
  font-family: var(--font-unineue-bold);
  margin-bottom: 2rem;
}

.es-contacts__text {
  font-family: var(--font-unineue-regular);
  color: var(--gray-dark);
}

.es-map {
  height: 75rem;
  margin-top: 2rem;
}

/* STOCKS */
.es-tabs__stocks-tab1 {
  background-image: url('../images/fon.jpg');
  background-size: cover;
}

/* KEY INDEXES */
.es-tabs__key-indexes-tab {
  background-image: url('../images/fon.jpg');
  background-size: cover;
}

/* BOTTLE */
.es-bottles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
}

.es-bottle__container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  min-width: 22rem;
  margin: 4rem 2rem 8rem;
}

.es-bottle__number {
  color: white;
  font-size: 6rem;
  font-family: var(--font-trumpsoftpro-bold);
  letter-spacing: var(--letter-spacing);
  margin-bottom: -1.4rem;
}

.es-bottle__text {
  position: absolute;
  top: 100%;
  color: white;
  font-size: 2rem;
  line-height: 1.2;
  font-family: var(--font-unineue-regular);
}

.es-bottle__img {
  margin-bottom: 2rem;
}

.es-bottle__callout {
  height: 2rem;
  margin: 0 2rem;
}

/* SEPARATOR */
.es-white-separator {
  background-color: white;
  width: 100%;
  height: 10rem;
}

/* STOVE */
.es-stove {
  margin-bottom: 4rem;
}

.es-stove__title {
  color: var(--blue);
  text-transform: uppercase;
}

.es-stove__title,
.es-stove__subtitle {
  font-family: var(--font-unineue-bold);
  font-size: var(--font-md);
}

.es-stove__subtitle {
  color: white;
}

.es-stove__img {
  margin-top: 2rem;
  margin-right: 2rem;
}

.es-stove__img-container {
  display: flex;
}

.es-stove__number {
  color: white;
  font-size: 6rem;
  font-family: var(--font-trumpsoftpro-bold);
  letter-spacing: var(--letter-spacing);
  margin-top: 2rem;
  line-height: 1;
  margin-bottom: -1rem;
}

.es-stove__number-text {
  color: white;
  font-size: var(--font-sm);
  font-family: var(--font-unineue-bold);
}
.es-stove__number-text_blue {
  color: var(--blue);
}

.es-stove__callout {
  max-width: 50rem;
}

/* PRESS-CENTRE */
.es-news__content {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
}

.es-news-block__container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 4rem 0;
}

.es-news-tile {
  width: calc(100% / 3 - 2rem);
  font-family: var(--font-unineue-bold);
  font-size: var(--font-sm);
  color: var(--gray-dark);
  font-size: var(--font-md);
}

.es-news-tile__img {
  width: 100%;
  margin-bottom: 2rem;
}

.es-news-tile__title {
  margin-bottom: 2rem;
}

.es-news-tile__text {
  font-size: var(--font-sm);
}

/* FOOTER */
.es-footer {
  background-image: url('../images/footer.jpg');
  background-position: center;
  background-size: cover;
}

.es-footer__content {
  padding: 4rem 2rem;
}

.es-page__footer-title {
  text-transform: uppercase;
  color: var(--blue);
  font-family: var(--font-unineue-bold);
  font-size: var(--font-sm);
  margin-bottom: 1rem;
}
.es-page__footer-title > a {
  color: inherit;
  text-decoration: none;
}
.es-page__footer-title > a:hover {
  color: var(--blue-fade-hover);
}

.es-page__footer-text {
  color: white;
  font-family: var(--font-unineue-regular);
  font-size: var(--font-sm);
}

.ui-datepicker {
  padding: 0;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui-datepicker .ui-datepicker-header {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #efefef;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui-datepicker th {
  color: #009fe3;
}
.ui-datepicker td a {
  text-align: center;
}
.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default,
.ui-datepicker .ui-button,
.ui-datepicker html .ui-button.ui-state-disabled:hover,
.ui-datepicker html .ui-button.ui-state-disabled:active {
  border-color: transparent;
  background-color: transparent;
}
.ui-datepicker .ui-state-default:hover,
.ui-datepicker .ui-widget-content .ui-state-default:hover,
.ui-datepicker .ui-widget-header .ui-state-default:hover,
.ui-datepicker .ui-button:hover,
.ui-datepicker html .ui-button.ui-state-disabled:hover:hover,
.ui-datepicker html .ui-button.ui-state-disabled:active:hover {
  background-color: #f6f6f6;
  color: #000;
}
.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-widget-content .ui-state-highlight,
.ui-datepicker .ui-widget-header .ui-state-highlight {
  border-color: #009fe3;
  background-color: #f6f6f6;
  color: #000;
}
.ui-datepicker .ui-state-highlight:hover,
.ui-datepicker .ui-widget-content .ui-state-highlight:hover,
.ui-datepicker .ui-widget-header .ui-state-highlight:hover {
  background-color: #eee;
}
.ui-datepicker .ui-state-active,
.ui-datepicker .ui-widget-content .ui-state-active,
.ui-datepicker .ui-widget-header .ui-state-active,
.ui-datepicker a.ui-button:active,
.ui-datepicker .ui-button:active,
.ui-datepicker .ui-button.ui-state-active:hover {
  background-color: #009fe3;
  color: #fff;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 2px !important;
  right: 2px !important;
  border: none !important;
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  margin-top: 10px;
  margin-left: 5px;
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px !important;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
